{{ form_start(form) }}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="formulaire" align ="center">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    {{ form_widget(form) }}
    </br>
    <a href="{{ path('livre_index') }}"  class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg>
    </a>
    <button class="btn btn-success" >
    {{ button_label|default('Enregistrer') }}
    </button>
    
    </br>
    </br>
</div>
</br>
    {% block stylesheet %}
        <style>
           .formulaire{
                width: 50%;
                position: relative;
                top: 20px; 
                left: 400px;
                align :center;
                display: block;
                border:1px solid black ; 
                padding-top:20px ;
                padding-left : 50px ;
                padding-right : 50px ; 
                
                
           
            }


        
        </style>

    {% endblock %}
    {{ form_widget(form) }}
{{ form_end(form) }}
