{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
    <h1 align="center">Genre</h1>
<div align ="center"  class ="divTable">
    <table class="table table-success table-striped" width ="50%" align="center" >
        <tbody  align="left"> 
            <tr>
                <th scope="col"  width = "20%" class="thID" >Id</th>
                <td scope="col" width = "30%"  class="thID">{{ genre.id }}</td>
            </tr>
            <tr>
                <th scope="row" class="thID">Nom</th>
                <td scope="row" class="thID">{{ genre.nom }}</td>
            </tr>

             <tr>
                <th align="left" class="thID">Livres </th>
                
                <td class="thID" align="left">
                <ul>
                     {% for livre in genre.getLivres() %}
                     <li>
                        {{ livre.getTitre() }}
                     </li>
                     {% endfor %}
                     </ul>
                </td>
                
            </tr>
        </tbody>
    </table>

    <a href="{{ path('genre_index') }}"  class="btn btn-outline-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg>
    </a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-outline-success">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg>
    </a>  
    {% endif %}  


    </div>

            {{ include('genre/_delete_form.html.twig') }}

{% block stylesheet %}
        <style>
            .thID{
            border: 1px solid black;
            border-collapse: collapse;
            height :35px;

            }

            .divTable{
            display: block;
            margin-left: 400px;
            margin-right: 400px;
            margin-top : 20px ; 
            padding : 10px ;
            }
        </style>

    {% endblock %}
{% endblock %}
